/* 1.1 Vendors - Normalize */
@import './vendor/normalize'

/* 1.2 Vendors - Toast Grid */
@import './vendor/toast'

//Variables

// colors

$primary: #104B97
$primary-light: #428ECB
$primary-dark: #0B4492

$black: #303030
$grey: #D8D8D8
$magenta: #DE2C69

// Mixins

/* 2.1 Base Styles */
@import './includes/base'
/* 2.2 Typography */
@import './includes/type'
/* 2.3 Navigation / Navbar */
@import './includes/nav'
/* 2.4 Footer */
@import './includes/footer'
/* 2.5 Utilities */
@import './includes/utils'
