section.design
  .row
    .col.col-12-of-12
      h2 Web Design
  hr
  .wrapper
    .gallery
      #design.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
          li(data-target="design", data-slide-to="0" class="active")
          li(data-target="design", data-slide-to="1")
          li(data-target="design", data-slide-to="2")
        .carousel-inner(role="listbox")
          .item.active(data-toggle="modal" data-target="#myModal")
            img(src="/img/CARE_b_thumb.png", alt="")
            .carousel-caption
              p Career Academy of Real Estate 
          .item(data-toggle="modal" data-target="#myModal")
            img(src="img/Andrews_b_thumb.png", alt="")
            .carousel-caption
              p Andrews Realty Group
          .item(data-toggle="modal" data-target="#myModal")
            img(src="/img/vyral_b_thumb.png", alt="")
            .carousel-caption
              p Vyral Marketing
        a(class="left carousel-control" href="#design" role="button" data-slide="prev") 
          i.fa.fa-arrow-left
          span.sr-only Prev             
        a(class="right carousel-control" href="#design" role="button" data-slide="next") 
          i.fa.fa-arrow-right
          span.sr-only Next
        
        .modal.fade#myModal(tabindex="1" role="dialog" aria-labelledby="myModalLabel")
          .modal-dialog(role="document")
            .modal-content
              .modal-header
                button.close(type="button" data-dismiss="modal" aria-label="close") 
                  span(aria-hidden="true") &times;
              .modal-body
                img(src="#{andrew1}", alt="")
