section.developement
  .row
    .col.col-12-of-12
      h2 CSS Experiments
  hr
  .wrapper
    .gallery
      #developement.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
          li(data-target="developement", data-slide-to="0" class="active")
          li(data-target="developement", data-slide-to="1")
          li(data-target="developement", data-slide-to="2")
        .carousel-inner(role="listbox")
          .item.active
            a(href="http://codepen.io/Cutcopy/pen/WvPdzY")
              img(src="/img/spirograph_b_thumb.png", alt="")
            .carousel-caption
              p Spirograph CSS
          .item
            a(href="http://codepen.io/Cutcopy/pen/rxaaBm")
              img(src="/img/rainbowhelix_b_thumb.png", alt="")
            .carousel-caption
              p Rainbow Helix
          .item
            a(href="http://codepen.io/Cutcopy/pen/xwMKzv")
              img(src="/img/spinerette_b_thumb.png", alt="")
            .carousel-caption
              p Spinerette
        a(class="left carousel-control" href="#developement" role="button" data-slide="prev") 
          i.fa.fa-arrow-left
          span.sr-only Prev             
        a(class="right carousel-control" href="#developement" role="button" data-slide="next") 
          i.fa.fa-arrow-right
          span.sr-only Next
        
