footer
  .row
    .col.col--12-of-12
      span &copy; 2016 Bryce Stradling
      &nbsp;
      .top
        a(href="#top") 
          i.fa.fa-arrow-up
          span Top
      p.contact-info
        strong
          a(href="tel:+14024154753") 402-415-4753
        span •
        strong
          a(href="mailto:hello@brycestradling.com") hello@brycestradling.com
      ul.socials
        li
          a(href="https://www.behance.net/BryceStradling")
            i.fa.fa-behance
        li
          a(href="https://github.com/Cutcopy")
            i.fa.fa-github
        li
          a(href="http://codepen.io/Cutcopy/")
            i.fa.fa-codepen   
        li
          a(href="https://twitter.com/losslessdesign")
            i.fa.fa-twitter
        li
          a(href="https://www.linkedin.com/in/bryce-stradling-9808b675")
            i.fa.fa-linkedin
  
  script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(type='text/javascript', src='js/main.js', attr)
