header
  .row
    .col.col--12-of-12
      include ../../../img/logo.svg 
      h1 Bryce Stradling
      
      
      //
        nav
          ul
            li
              a(href="") Home
            li
              a(href="") About
            li
              a(href="") Work
          ul.socials
            li
              a(href="")
                i.fa.fa-behance
            li
              a(href="")
                i.fa.fa-linkedin
            li
              a(href="")
                i.fa.fa-twitter
            li
              a(href="")
                i.fa.fa-github    
