header#top
  .row
    .col.col--12-of-12
      a(href="/")
        include ../../../img/logo.svg 
        h1.title Bryce Stradling
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="#work") Work
          li
            a(href="#" title="Coming soon!**") Blog*
