doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Bryce Stradling - Creative

    meta(name='description', content='Designer, Illustator and maker of other pretty things')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='/img/favicon.png')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='css/main.css')
