mixin work
  hr
        .wrapper
          .row
            .one.col.col-12-of-12
              .col.col-3-of-12
                img(src="http://placehold.it/300x400", alt="")
              .col.col-3-of-12
                img(src="http://placehold.it/300x400", alt="")
              .col.col-3-of-12
                img(src="http://placehold.it/300x400", alt="")
              .col.col-3-of-12
                img(src="http://placehold.it/300x400", alt="")
