mixin work(caption, image)
  .col.col--3-of-12
    h3= caption + ':'
    img(src= image, alt="" data-toggle="modal" data-target= '#' + caption)
    .modal.fade(id= caption, tabindex="1" role="dialog" aria-labelledby= caption)
      .modal-dialog(role="document")
        .modal-content.row
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-label="close") 
              span(aria-hidden="true") &times;
            &nbsp;  
            strong= caption
          .modal-body.col--12-of-12
            img(src= image, alt="")
            button.close(type="button" data-dismiss="modal" aria-label="close") 
              span(aria-hidden="true") Close
