section.photography
  .row
    .col.col-12-of-12
      h2 Photography 
        a(href="https://www.instagram.com/brycestradling/")
          i.fa.fa-instagram
  hr
  .wrapper
    .gallery
      #instafeed

              
