include ./includes/head.jade

body
  //if lt IE 8
    <p class="chromeframe">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.</p>
  include ./includes/header.jade
  
  main
    section.about
      .row
        .col.col--4-of-12
          img.headshot(src="/img/b_photos.jpg", alt="My beautiful face")
        .col.col--8-of-12
          p.contact-info
            p
              strong
                a(href="tel:+14024154753") 402-415-4753
            p
              strong
                a(href="mailto:hello@brycestradling.com") hello@brycestradling.com
          ul.socials
            li
              a(href="#")
                i.fa.fa-behance
            li
              a(href="#")
                i.fa.fa-github
            li
              a(href="#")
                i.fa.fa-codepen   
            li
              a(href="#")
                i.fa.fa-twitter
            li
              a(href="#")
                i.fa.fa-linkedin
               
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam voluptates dolores dicta, officia expedita consequuntur tempora fugiat iusto molestiae accusantium, magni possimus neque soluta quibusdam cupiditate amet, culpa ea. Perspiciatis!
          
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam voluptates dolores dicta, officia expedita consequuntur tempora fugiat iusto molestiae accusantium, magni possimus neque soluta quibusdam cupiditate amet, culpa ea. Perspiciatis!
          //
            .row
              form(action="#" method="post" class="contact-form")
                .col.col-4-of-12
                  input(type="text" name="email" placeholder="Email")
                .col.col-6-of-12  
                  textarea(name="message" placeholder="Message")
                .col.col-2-of-12  
                  input(type="submit")
    section.design
      .row
        .col.col-12-of-12
          h2 Design
      hr
      .wrapper
        .row
          .gallery
            #Andrews.carousel.slide(data-ride="carousel")
              ol.carousel-indicators
                li(data-target="Andrews", data-slide-to="0" class="active")
                li(data-target="Andrews", data-slide-to="1")
                li(data-target="Andrews", data-slide-to="2")
              .carousel-inner(role="listbox")
                - var andrew1 = "http://fillmurray.com/800/450";
                .item.active(data-toggle="modal" data-target="#myModal")
                  img(src="#{andrew1}", alt="")
                  .carousel-caption
                    p One
                .item(data-toggle="modal" data-target="#myModal")
                  img(src="http://nicenicejpg.com/800/450", alt="")
                  .carousel-caption
                    p Two
                .item(data-toggle="modal" data-target="#myModal")
                  img(src="http://placehold.it/800x450", alt="")
                  .carousel-caption
                    p Three
              a(class="left carousel-control" href="#Andrews" role="button" data-slide="prev") Prev             
              a(class="right carousel-control" href="#Andrews" role="button" data-slide="next") Next
              script $('.carousel').carousel()
              
              .modal.fade#myModal(tabindex="1" role="dialog" aria-labelledby="myModalLabel")
                .modal-dialog(role="document")
                  .modal-content
                    .modal-header
                      button.close(type="button" data-dismiss="modal" aria-label="close") 
                        span(aria-hidden="true") &times;
                    .modal-body
                      img(src="#{andrew1}", alt="") 
                 
           
    section.photography
      .row
        .col.col-12-of-12
          h2 Photography
      hr
    section.illustration
      .row
        .col.col-12-of-12
          h2 Illustration
      hr
                            
  include ./includes/footer.jade    
