.logo
  fill: black
  width: 3em
  display: inline

header
  .row
    padding: $main-padding
  h1
    display: inline
    margin-left: 1rem
nav
  ul
    list-style: none
    display: inline-block
    li
      display: inline-block
      margin: 0.5rem
      a
        font-weight: bold
        color: $primary
        text-decoration: none
