body
  color: $black
  font-family: 'Raleway', helvetica, arial, sans-serif
  letter-spacing: 0.5px

h1, h2, h3, h4, h5, h6
  font-family: 'Raleway', helvetica, arial, sans-serif

strong
  font-weight: bolder
