.design
  .wrapper
    background: gray
    box-shadow: inset 0 0 5px black
    img
        box-shadow: 0 0 5px black

.gallery
  height: auto
  overflow: hidden
  display: flex
  justify-content: center
  align-items: stretch
  align-content: stretch
  box-shadow: inset 0 0 5px black

.carousel
  width: 100%

.carousel-control
  color: $primary
  font-size: 3rem
  display: flex
  align-items: center
  align-content: center
  justify-content: center
  &:hover
    color: white
  &:active
    color: $primary-light

.carousel-control.left:hover
  background-image: linear-gradient(to right, transparentize($primary, 0.4), rgba(0,0,0,0))
.carousel-control.right:hover
  background-image: linear-gradient(to left, transparentize($primary, 0.4), rgba(0,0,0,0))

.item
  cursor: pointer

.carousel-caption
  font-weight: bold
  p
    background: $primary
    border-radius: $main-border-radius
    max-width: 200px
    box-shadow: 0 0 3px black
    margin: 10px auto
    padding: 5px

.carousel-indicators li
  border-color: $primary

.carousel-indicators .active
  background: $primary

.modal-body
  img
    width: 100%

@media (min-width: 1000px)
  .carousel-control
    font-size: 5rem

@media (max-width: 500px)
  .carousel-control
    font-size: 1rem

//Photography
// #instafeed
//   height: 300px
//
// #instafeed > .item
//   display: inline
//
// #instafeed > .item > img
//   display: inline
//   float: left
